{% extends '../base.html' %}
{% block content %}
<h2>Order Details #{{order.id}}</h2>
<p>Customer: {{order.customer.name}}</p>
<p>Placed on: {{order.order_date}}</p>

<table style="text-align:left;">
    <tr>
        <th>Cake name</th>
        <th>Cake Quantity</th>
    </tr>
{% for order_item in order.orderitem_set.all %}
    <tr>
        <td>{{order_item.cake.name}} ({{order_item.cake.flavor}})</td>
        <td>{{order_item.quantity}}</td>
    </tr>
{% endfor %}
</table>

<h3>Available cakes</h3>
<hr>
{% if available_cakes %}
<table>
    <tr>
        <th>Cake</th>
        <th>Flavor</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>

    {% for cake in available_cakes %}
    <tr>
        <td>{{cake.name}}</td>
        <td>{{cake.flavor}}</td>
        <td>{{cake.price}}</td>
        <td>
            <form action="{% url 'add_cake_to_order' order.id cake.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Add to Order</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<a href="{% url 'order_update' order.pk %}">Edit</a> | 
<a href="{% url 'order_delete' order.pk %}">Delete</a>
{% endblock %}
