<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <h1>🧁 Welcome to the Bakery</h1>
    <nav>
        
            <a href="/">
                Home
            </a> | 
            <a href="{% url 'cake_list' %}">
                Cakes
            </a> | 
            <a href="{% url 'customer_list' %}">Customers</a>
        
    </nav>
    <br />
    <hr>
    <br>
    <main>
        {% block content %}
        <h2>🥯☕ Thank you for joining us! We're so happy you're here! </h2>
        <p>Explore our website today!! 🚀</p>
        {% endblock %}
    </main>
</body>

</html>